body
{
  margin: 0px;
  padding: 0px;
}

.contenedor
{
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}
.publicaciones
{
  width: 100vw;
  min-height: 83vh;
  background-color: #8e50c0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenido
{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 1000px;
    margin: auto;
}
.foto-publicacion img
{
    width: 100%;
    height: 200px;
}
.perfil
{
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
}
.foto-perfil img
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid black;
}
.nombre-perfil
{
    padding-left: 10px;
    display: flex;
    align-items: center;
}
.acciones
{
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: 10px 0px;
}


.comentar img
{
    width: 20px;
    height: 20px;
    padding: 0px 5px 0px 10px;
}

.compartir img
{
    width: 20px;
    height: 20px;
    padding: 0px 5px 0px 10px;
}

input[type="checkbox"]
{
    content: url('../IMG/likeno.png');
    width: 20px;
    height: 20px;

}
input[type="checkbox"]:checked 
{
    content: url('../IMG/likesi.png');
}
.like-inicial
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}
.nombre-perfil a
{
    color: black;
    text-decoration-line: none;
}
a
{
    color: blue;
    text-decoration-line: none;
}
.comentarios .foto-perfil img
{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
}
.nuevo-comentario
{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}
form
{
    padding-left: 10px;
}
.boton {
	color: #2a50c3;
	border: solid 1px #494949;
	background: #ffc845;
    font-family: fantasy;
}
textarea
{
    background-color: #ffc845;
    font-family: fantasy;
}
